<div class="container">
  <h1>About</h1>
  <p>Here you will learn a little about myself.</p>
</div>
<div class="container">
<h2>Descripción</h2>
  <p>Born in 2001, I've always had a passion for computers. As I grew up, my interest in machines and how they work
  intensified, particularly with the rise of video games as a medium. This led me to pursue a career in programming.
  Initially I attemted to enter game development at a young age but found it very challenging. So, I decided to start from
  something more basic, yet more fullfilling. Fortunately, I discovered this carrer path in 2019. I began my journey in
  this career by entering "Bachillerato" in 2020.</p>
</div>
